
<% layout("/layout/boilerplate.ejs") -%>
<%=success%>
<%=error%>
<body>
    <h3>All listings </h3>
    <!-- <form method ="get" action="/listings/new">
        <button>create</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let list of alllistings)
    {%>
        <a href="/listings/<%= list._id %>" class ="listing-link">
    <div class="card col listing-card" >
        <img src="<%=list.image.url%>" class="card-img-top " alt="listing_image " style="height:20rem">
        <div class="card-img-overlay">hkb</div>
        <div class="card-body">
          <p class="card-text"><b><%=list.title%></b><br>
            &#8377; <%=list.price.toLocaleString("en-IN")%>/NIGHT
        </p>
        </div>
      </div>
      </a>
      <% } %>
    

    </div>
    <!-- <ul>
        <% for(let list of alllistings)
         {%>
             <li><a href="/listings/<%= list._id %>"><%=list.title%></a></li>
             
         <% } %>
     </ul> -->
</body>

